#container{
  position: relative;
  color: #59ba71;

}
#title-1{
  left: 37%;
  position: absolute;
}
#title-2{
  left: 45%;
  top: 50px;
  position: absolute;
}
.headings{
    color: #59ba71;

}
#next{
    margin:20px;
    width: 50px;
}
button{
    color: white;
background-color: #59ba71;
  border-radius: 28px;
}
#leprechaun-img{
  width: 150px;
}
#clover-img{
  width: 30%;
}
#background-img{
  width: 45%;
}
#logo-img{
  width: 100px;
  position: absolute;
  bottom: 10%;
  right: 20%;
}
